<nav class="navbar">

    <div class="logo-section">
        <!-- <img src="/images/logo.png" alt="VaultX Logo"> -->
        <a href="/dashboard" class="link">
            <h2><i class="fa-solid fa-user-shield"></i>vault<span>X</span></h2>
        </a>
    </div>

    <ul class="nav-links">
        <!-- <li><a href="#"><i class="fa-solid fa-house"></i> Dashboard</a></li> -->
        <li><a href="/add"><i class="fa-solid fa-circle-plus"></i></i>Add</a></li>
        <li><a href="/view"><i class="fa-solid fa-eye"></i>View</a></li>
        <li><a href="/categories"><i class="fa-solid fa-folder"></i>Categories</a></li>
        <li><a href="/favorite"><i class="fa-solid fa-heart"></i>Favorites</a></li>
        <li><a href="/generate"><i class="fa-solid fa-clone"></i>Generate</a></li>
        <li><a href="/security"><i class="fa-solid fa-shield-halved"></i>Security</a></li>
        <li><a href="/update"><i class="fa-solid fa-rotate"></i>Update</a></li>
        <li><a href="/deletes"><i class="fa-solid fa-trash"></i></i>Delete</a></li>
    </ul>

    <div class="right-section">

        <!-- <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search...">
        </div> -->

        <!-- <i class="fa-solid fa-circle-half-stroke"></i> -->

        <a href="/logout"  class="profile" title="Logout">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>

    </div>

</nav>